<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h5 class="font-weight-large mt-4 mb-5">
                    <ul>
                        <li>Báo tiếng Việt nhiều người xem nhất</li>
                        <li>Thuộc Bộ Khoa học Công nghệ</li>
                        <li>Số giấy phép: 548/GP-BTTTT ngày 24/08/2021</li>
                    </ul>
                </h5>
                <ul class="social-media mb-3">
                    <li>
                        <a href="#">
                            <i class="mdi mdi-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="mdi mdi-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="mdi mdi-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h3 class="font-weight-bold mb-3">CHUYÊN MỤC</h3>
                <div class="footer-border-bottom pb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 font-weight-600">
                            <a href="http://127.0.0.1:3000/category/thethao" style="text-decoration: none">Thể Thao</a>
                        </h5>
                        <div class="count"></div>
                    </div>
                </div>
                <div class="footer-border-bottom pb-2 pt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 font-weight-600">
                            <a href="http://127.0.0.1:3000/category/thoisu" style="text-decoration: none">Thời Sự</a>
                        </h5>
                        <div class="count"></div>
                    </div>
                </div>
                <div class="footer-border-bottom pb-2 pt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 font-weight-600">
                            <a href="http://127.0.0.1:3000/category/quocte" style="text-decoration: none">Quốc Tế</a>
                        </h5>
                        <div class="count"></div>
                    </div>
                </div>
                <div class="footer-border-bottom pb-2 pt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 font-weight-600">
                            <a href="http://127.0.0.1:3000/category/thoitiet" style="text-decoration: none">Thời
                                Tiết</a>
                        </h5>
                        <div class="count"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>