<div class="container">
    <form id="signup" action="/register" method="post">
        <div class="header">
            <h3>ĐĂNG KÝ</h3>
            <p>Bạn vui lòng điền đủ thông tin</p>
        </div>
        <div class="sep"></div>
        <div class="inputs">
            <input type="text" name="username" placeholder="User name" />
            <input type="password" name="password" placeholder="Password" required />
            <button id="submit" type="submit">ĐĂNG KÝ</button>
        </div>
    </form>
</div>