<div class="profile1">
    <div class="profileCard">
        <img src="image/{{img}}" height="200px" width="200px" />
        <div class="profilemain">
            <h1>{{name}}</h1>
            <h2>18 Tuổi</h2>
            <h2>Thích màu hồng</h2>
        </div>
    </div><br>
    <form class="changeavt" action="/profile/changeAVT" method="post" enctype="multipart/form-data">
        <input id="files" type="file" name="avatar" />
        <button class="submit-btn" type="submit">Upload</button>
    </form>
</div>